{
   "ca-url": "https://{{ domain }}",
   "ca-config": "/home/step/config/ca.json",
   "fingerprint": "c4dfdfdece152139fe58280eebaa142ef25b0a19f0984ca5e5338d0d8522f7d8",
   "root": "/home/step/certs/root_ca.crt"
}
