# docker-compose.yaml

version: '3.8'
services: 

  server:
    image: smallstep/step-ca:0.15.5
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ ssl_cert_dir }}/:/etc/ssl/certs/
      - {{ config_dir }}/:/home/step/
    networks:
      - {{ docker_network }}
    dns:
      - 192.168.50.1
    dns_search:
      - ldap.diesel.net
    extra_hosts:
      - ldap.diesel.net:192.168.50.1
    #environment:
      #- STEPDEBUG=1 # enables more verbose debug output
    deploy:
      labels:
        - traefik.enable=true
        - traefik.tcp.services.{{ git_repository }}.loadbalancer.server.port=443
        - traefik.tcp.routers.{{ git_repository }}.rule=HostSNI(`{{ domain }}`)
        - traefik.tcp.routers.{{ git_repository }}.tls.passthrough=true
networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
