# docker-compose.yaml

version: '3.8'
services: 

  server:
    image: smallstep/step-ca:0.15.4
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ ssl_cert_dir }}/:/etc/ssl/certs/
      - {{ config_dir }}/:/home/step/
    networks:
      - {{ docker_network }}
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ git_repository }}.loadbalancer.server.scheme=https
        - traefik.http.services.{{ git_repository }}.loadbalancer.server.port=9000
        - traefik.http.routers.{{ git_repository }}.rule=Host(`{{ domain }}`)

networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
